@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Vũ trụ nước hoa</title>

        <!-- Bootstrap -->
        <link href="~/Areas/Admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="~/Areas/Admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href="~/Areas/Admin/vendors/nprogress/nprogress.css" rel="stylesheet">
        <!-- Animate.css -->
        <link href="~/Areas/Admin/vendors/animate.css/animate.min.css" rel="stylesheet">

        <!-- Custom Theme Style -->
        <link href="~/Areas/Admin/build/css/custom.min.css" rel="stylesheet">
    </head>

    <body class="login">
        <div>
            <a class="hiddenanchor" id="signup"></a>
            <a class="hiddenanchor" id="signin"></a>

            <div class="login_wrapper">
                <div class="animate form login_form">
                    <section class="login_content">
                        <form action="Login" method="post">
                            @Html.AntiForgeryToken()
                            <h1>Đăng nhập</h1>
                            <div>
                                <input type="text" class="form-control" placeholder="Tên tài khoản" required="" name="tenTK" />
                            </div>
                            <div>
                                <input type="password" class="form-control" placeholder="Mật khẩu" required="" name="matKhauTK" />
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default submit">Đăng nhập</button>
                            </div>

                            <div class="clearfix"></div>

                            <div class="separator">
                                <p class="change_link">
                                    Bạn chưa có tài khoản?
                                    <a href="#signup" class="to_register"> Tạo tài khoản </a>
                                </p>
                                <div class="clearfix"></div>
                                <br />
                            </div>
                            @if (ViewBag.Error != null)
                            {
                                <br />
                                <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
                            }
                        </form>
                    </section>
                </div>

                <div id="register" class="animate form registration_form">
                    <section class="login_content">
                        <form>
                            <h1>Đăng ký</h1>
                            <div>
                                <input type="text" class="form-control" placeholder="Tên tài khoản" required=""/>
                            </div>
                            <div>
                                <input type="email" class="form-control" placeholder="Email" required=""/>
                            </div>
                            <div>
                                <input type="password" class="form-control" placeholder="Mật khẩu" required=""/>
                            </div>
                            <div>
                                <a class="btn btn-default submit" href="index.html">Đăng ký</a>
                            </div>

                            <div class="clearfix"></div>

                            <div class="separator">
                                <p class="change_link">
                                    Bạn đã có tài khoản ?
                                    <a href="#signin" class="to_register"> Đăng nhập </a>
                                </p>
                                <div class="clearfix"></div>
                                <br/>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>
