@{
    ViewBag.Title = "Bảo hành";
}

<div class="main">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="@Url.Action("Index", "Home")"><span itemprop="name">Trang chủ</span></a> ❯ <meta itemprop="position" content="1"/>
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="@Url.Action("Menu", "Home", new { id = "BaoHanh" })"><span itemprop="name">Chính sách bảo hành</span></a>
            <meta itemprop="position" content="2"/>
        </li>
    </ol>
    <div class="clr10"></div>
    <div class="titleheading"><h2>Chính sách bảo hành</h2><em></em></div>
    <p>&nbsp;</p>
    <p style="text-align:center">
        <img alt="Chính sách bảo hành" height="394" src="~/wwwroot/images/images/CH%C3%8DNH%20S%C3%81CH%20B%E1%BA%A2O%20H%C3%80NH.jpg" style="max-width:100%" width="700"/>
    </p>
    <p>
        <br/>
        <strong><span style="color:#c0392b">Vũ Trụ Nước Hoa - Thiên đường tập hợp hàng loạt nước hoa cao cấp mang các thương hiệu nổi tiếng như&nbsp;<em>Chanel, Christian Dior, Bvlgari, Gucci, Victoria's Secret, Lancôme, Hugo Boss…&nbsp;</em>đáp ứng mọi nhu cầu của khách hàng.</span> </strong>Cùng với<strong> <span style="color:#c0392b">cam kết chính hãng 100%, bồi thường gấp 10 lần nếu phát hiện hàng Fake (hàng giả)</span> </strong>thì Vũ Trụ Nước Hoa còn có<strong> <span style="color:#c0392b">chính sách Bảo Hành Chuyên Nghiệp</span> </strong>hỗ trợ người dùng. Quý khách hàng vui lòng<strong>:</strong>
    </p>
    <ul>
        <li><strong>Giữ nguyên&nbsp;HÓA ĐƠN&nbsp;trong vòng <span style="color:#c0392b">60 ngày</span> để được <span style="color:#c0392b">BẢO HÀNH 1 ĐỔI 1</span> sản phẩm&nbsp;theo chính sách của Cửa hàng.&nbsp;</strong></li>
        <li><strong>Điều kiện bảo hành:&nbsp;Sản phẩm phải còn hóa đơn,&nbsp;còn giữ&nbsp;seal, vỏ hộp nguyên vẹn, không bị móp méo, chai ko trầy xước, bể, nứt , nắp không rò rỉ hay lỗi, chai phải còn tem chống giả. Ngoài ra, nếu không đủ điều kiện, cửa hàng sẽ thu lại với <span style="color:#c0392b">mức chiết khấu&nbsp;Thu hồi 15-20%</span>&nbsp;tùy tình trạng sản phẩm.</strong></li>
        <li><strong>Khách hàng đã sử dụng và bảo quản đúng theo hướng dẫn.</strong></li>
        <li><strong>Sản phẩm là nước hoa có vòi xịt cố định trên chai.</strong></li>
        <li><strong>Trong trường hợp Quý khách hàng phản ánh về chất lượng sản phẩm, nhân viên sẽ niêm yết, dán tem xác nhận&nbsp;để chuyển về bộ phận chuyên môn. Quý khách hàng vui lòng ký tên lên tem bảo hành để xác nhận đó là sản phẩm của Quý khách. Sau 24H nhân viên&nbsp;sẽ chủ động&nbsp;liên hệ lại với Quý khách hàng.</strong></li>
    </ul>
    &nbsp;
    <h3><strong><em><span style="color:#16a085"><u><span style="background-color:#ffff00">Các trường hợp không được bảo hành:</span></u></span></em></strong></h3>
    <ul>
        <li><strong>Không áp dụng bảo hàng với sản phẩm&nbsp;có vòi xịt không gắn liền với chai, nước hoa mini vial.</strong></li>
        <li><strong>Không bảo hành các sản phẩm thuộc danh sách ưu đãi đặc biệt trong chương trình khuyến mãi từng thời điểm.</strong></li>
        <li><strong>Không bảo hành các sản phẩm không được bảo quản theo quy định của nhà sản xuất, bị rơi vỡ.</strong></li>
        <li><strong>Không bảo hành các sản phẩm đã bị can thiệp vào các phần nắp chai, vòi xịt, tem bảo hành.</strong></li>
        <li><strong>Không bảo hành đối với sản phẩm không phải Vũ Trụ Nước Hoa bán ra.</strong></li>
    </ul>
    <span style="font-size:15px">Nếu cần tư vấn và giải đáp khiếu nại, Quý khách hàng vui lòng liên hệ Hotline&nbsp;<strong><span style="color:#c0392b">028.730.10688</span> </strong>để được hỗ trợ. Xin cám ơn!</span><br/>
    &nbsp;
    <h2 color="bg932210" font="Anton" size="size24">VŨ TRỤ NƯỚC HOA</h2>
    <br/>
    ☎ Hotline:&nbsp;<strong>028.730.10688</strong><br/>
    ★ Zalo:&nbsp;<strong>0978.357.900</strong><br/>
    ★&nbsp;<strong>142D/18 Cô Giang, Phường 2, Phú Nhuận, Tp.HCM</strong>&nbsp;( Đi hết đường cô giang quẹo phải rồi quẹo trái là hẻm 142D)<br/>
    ★ FB:&nbsp;<a href="https://www.facebook.com/nuochoamychinhhanggiare/">https://www.facebook.com/nuochoamychinhhanggiare/</a><br/>
    ✉ nuochoamy.vn@gmail.com<br/>
    &nbsp;
    <h2><iframe allowfullscreen="" frameborder="0" height="300" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d411.9529106739068!2d106.68464220783196!3d10.797624692520246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9e3cbe355386e545!2sUSA+UK+Shop!5e0!3m2!1sen!2sin!4v1503021581861" width="400"></iframe></h2>
    &nbsp;
</div>
