@{
    ViewBag.Title = "Giới thiệu";
}

<div class="main">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="@Url.Action("Index", "Home")"><span itemprop="name">Trang chủ</span></a> ❯ <meta itemprop="position" content="1"/>
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="@Url.Action("Menu", "Home", new { id = "GioiThieu" })"><span itemprop="name">Giới thiệu</span></a><meta itemprop="position" content="2"/>
        </li>
    </ol>
    <div class="clr10"></div>
    <div class="titleheading">
        <h2>Giới thiệu</h2>
        <em></em>
    </div>
    <h2 style="text-align: center">
        <span style="font-size:26px">
            <span style="color:#e74c3c">
                <strong><img alt="Giới thiệu" height="404" src="~/wwwroot/images/images/gioi-thieu-nuoc-hoa.jpg" style="max-width:100%" width="800"/></strong>
            </span>
        </span>
    </h2>

    <p style="text-align: center">&nbsp;</p>

    <p>
        Với sự nỗ lực, không ngừng phát triển mạnh mẽ của xã hội,&nbsp;Đại Phát Group&nbsp;được thành lập vào năm 2008, hoàn toàn tự tin trong lĩnh vực viễn thông, ô tô, thời trang, ...&nbsp;vươn lên thành Tập Đoàn&nbsp;vững mạnh phát triển trên thị trường Việt Nam.<br/>
        <br/>
        <strong>Đại Phát Group</strong>&nbsp;quy tụ&nbsp;đội ngũ nhân viên trẻ, chuyên nghiệp, nhiều kỹ năng và kinh nghiệm trong nhiều lĩnh vực. <span style="color:#c0392b"><strong>Với các&nbsp;lĩnh vực&nbsp;hoạt động đa dạng: linh phụ kiện điện thoại, phụ kiện đồ chơi độc xe ô tô, thời trang cao cấp, nội thất nhà cửa, nước hoa cao cấp, bảo hành Apple chính hãng…Đại Phát Group&nbsp;muốn hướng tới phát triển chuyên nghiệp và bền vững trong mọi&nbsp;lĩnh vực.&nbsp;</strong></span><br/>
        <br/>
        Trong mỗi lĩnh vực,&nbsp;Đại Phát Group&nbsp;luôn áp dụng cách tiếp cận có hệ thống, từ bước lập chiến lược đầu tư tới bước phát triển thành những danh mục riêng. Chúng tôi chú trọng xem xét các yếu tố&nbsp;của&nbsp;lĩnh vực cũng như xu hướng phát triển của thị trường trong tương lai và chiến lược thoái vốn thích hợp nhất. Chúng tôi theo sát những diễn biến của thị trường và tận dụng mọi cơ hội có được.<br/>
        <br/>
        <span style="color:#c0392b"><strong>SỨ MỆNH</strong></span><br/>
        <br/>
        Cung cấp đầy đủ các dịch vụ&nbsp;đáp ứng được nhu cầu liên tục phát triển của khách hàng và&nbsp;người sử dụng&nbsp;ở tại Việt Nam mang tiêu chí “Dịch vụ tốt nhất”.<br/>
        <br/>
        <span style="color:#c0392b"><strong>TẦM NHÌN</strong></span><br/>
        <br/>
        Trở thành Tập Đoàn&nbsp;uy tín hàng đầu Việt Nam trong lĩnh vực viễn thông, ô tô, thời trang, ...&nbsp;<br/>
        <br/>
        <span style="color:#c0392b"><strong>GIÁ TRỊ CỐT LÕI</strong></span><br/>
        <br/>
        -&nbsp;Chất lượng: Cam kết về chất lượng tốt nhất&nbsp;của mọi sản phẩm.<br/>
        -&nbsp;Chuyên nghiệp: Xây dựng môi trường làm việc cởi mở, chuyên nghiệp và đoàn kết, thân thiện, phát huy tối đa năng lực bản thân, đem đến thành công chung cho tập thể.<br/>
        -&nbsp;Uy tín: Yếu tố quyết định đến sự phát triển bền vững của&nbsp;Đại Phát Group. Chúng tôi kinh doanh và phát triển các sản phẩm có chất&nbsp;lượng tốt với chi phí hợp lý nhất, đem lại lợi ích tối ưu cho các khách hàng.<br/>
        &nbsp;
    </p>

    <p style="text-align: center">&nbsp;</p>

    <h2 style="text-align: center"><span style="font-size:26px"><span style="color:#e74c3c"><strong>GIỚI THIỆU ĐÔI NÉT VỀ VŨ TRỤ NƯỚC HOA</strong></span></span></h2>
    &nbsp;

    <div style="text-align: center"><span style="font-size:22px"><span style="color:#e74c3c"><strong>--------------------------</strong></span></span></div>
    <br/>
    Hiểu được mong muốn của khách hàng trong việc tìm mua nước hoa cao cấp chính hãng gặp khá nhiều khó khăn trong việc lựa chọn giữa vô vàn hàng kém chất lượng, hàng fake tràn lan như hiện nay. Chính vì lẽ đó&nbsp;<em><strong><span style="color:#c0392b">Vũ Trụ Nước Hoa ra đời mang trên mình sứ mệnh, đem đến những thương hiệu nước hoa chính hãng xách tay Mỹ cao cấp uy tín tại tphcm.</span></strong></em><br/>
    <br/>
    <strong><span style="color:#c0392b">Vũ Trụ Nước Hoa thuộc hệ thống Đại Phát Group ra đời là shop bán nước hoa chính hãng xách tay từ Mỹ tại tphcm.</span></strong> Đại Phát Group được thành lập vào năm 2008, hoàn toàn tự tin trong lĩnh vực viễn thông, ô tô, thời trang, nội thất trang trí nhà ở ... vươn lên thành Tập Đoàn vững mạnh phát triển trên thị trường Việt Nam.<br/>
    <br/>
    Đại Phát Group quy tụ đội ngũ nhân viên trẻ, chuyên nghiệp, đào tạo nhiều kỹ năng và kinh nghiệm trong nhiều lĩnh vực. Với kinh nghiệm kinh doanh trên nhiều lĩnh vực,&nbsp; Đại Phát Group tự tin phát triển, mở rộng hướng đến thị trường nước hoa xách tay uy tín tại TPHCM, hứa hẹn sẽ là địa chỉ đáng tin cậy, uy tín khách hàng hướng đến.<br/>
    <br/>
    <strong><em><span style="color:#c0392b">Vũ Trụ Nước Hoa tập hợp hàng loạt sản phẩm nước hoa cao cấp mang các thương hiệu nổi tiếng như&nbsp;Chanel, Christian Dior, Bvlgari, Gucci, Victoria's Secret, Lancôme, Hugo Boss, Hermes, Guess,…&nbsp;</span>đáp ứng mọi nhu cầu của khách hàng. Với slogan "</em><span style="color:#c0392b">Vua Nước hoa từ Store -&nbsp; Fake 1 đền 10</span></strong><strong><em>" mang thông điệp mạnh mẽ, khẳng định chất lượng chính hãng hàng đầu, giá cả cạnh tranh nhất thị trường, đảm bảo uy tín,&nbsp;với cam kết các giấy tờ chứng minh đầy đủ, mang đến sự hài lòng tuyệt đối đến khách hàng.</em></strong>

    <div style="text-align: center">
        &nbsp;
        <h2 color="bg932210" font="Anton" size="size24" style="text-align: center">
            <span style="color:#e74c3c"><span style="background-color:#f1c40f">NHỮNG HÌNH ẢNH THỰC TẾ&nbsp;SHOWROOM NƯỚC HOA</span></span><br/>
            <br/>
            <img alt="Giới thiệu" height="600" src="~/wwwroot/images/images/showroom1 (1)(1).jpg" style="max-width:100%" width="600"/>
        </h2>

        <div style="text-align:center"><img alt="Giới thiệu" height="600" src="~/wwwroot/images/images/showroom (1).jpg" style="max-width:100%" width="600"/></div>

        <h2 color="bg932210" font="Anton" size="size24" style="text-align: center">
            <img alt="Giới thiệu" height="600" src="~/wwwroot/images/images/showroom5 (1).jpg" style="max-width:100%" width="600"/><br/>
            &nbsp;
        </h2>
        <br/>
        <br/>
        <img alt="Giới thiệu" height="440" src="~/wwwroot/images/images/nuoc-hoa-xach-tay-chinh-hang-my-uy-tin-tai-tphcm.jpg" style="max-width:100%" width="800"/>
    </div>

    <blockquote>
        <h2>
            <br/>
            <span style="color:#16a085"><em><strong>TẦM NHÌN VÀ SỨ MỆNH CỦA VŨ TRỤ NƯỚC HOA</strong></em></span>
        </h2>

        <p>
            <br/>
            <span style="color:#f39c12"><strong>SỨ MỆNH</strong></span><br/>
            <br/>
            Cung cấp các mẫu nước hoa cao cấp chính hãng xách tay từ Mỹ đến với khách hàng và người sử dụng ở tại Việt Nam mang tiêu chí “Chất lượng tốt nhất”.<br/>
            <br/>
            <span style="color:#f39c12"><strong>TẦM NHÌN</strong></span><br/>
            <br/>
            Cung cấp các sản phẩm nước hoa chính hãng 100% từ các thương hiệu cao cấp từ Mỹ,&nbsp;giá cả cạnh tranh nhất thị trường, đảm bảo uy tín, với cam kết các giấy tờ chứng minh đầy đủ, mang đến sự hài lòng tuyệt đối đến khách hàng.<br/>
            <br/>
            <span style="color:#f39c12"><strong>GIÁ TRỊ CỐT LÕI</strong></span><br/>
            <br/>
            - <strong>Chất lượng:</strong> Cam kết chính hãng 100%. Nếu phát hiện hàng kém chất lượng (Fake) đền 10<br/>
            <br/>
            - <strong>Chuyên nghiệp: </strong>Xây dựng môi trường làm việc cởi mở, chuyên nghiệp và đoàn kết, thân thiện, phát huy tối đa năng lực bản thân, đem đến thành công chung cho tập thể.<br/>
            <br/>
            - <strong>Uy tín:</strong>&nbsp;Ưu tiên quyền lợi khách hàng và luôn vì khách hàng, luôn tận tâm, nhiệt huyết, sáng tạo và đáng tin cậy.
        </p>
    </blockquote>

    <h2 color="bg932210" font="Anton" size="size24" style="text-align: center">
        <br/>
        <span style="color:#e74c3c"><strong><span style="background-color:#f1c40f">Những hình ảnh về nguồn nhập bên&nbsp;Mỹ&nbsp;của&nbsp;nuochoamy.vn</span></strong></span>
    </h2>
    &nbsp;

    <div style="text-align: center">
        <br/>
        <img alt="Giới thiệu về Vũ Trụ Nước Hoa" height="450" src="~/wwwroot/images/images/nuoc-hoa-my2%20(1).jpg" style="max-width:100%" width="600"/><br/>
        <img alt="Giới thiệu về Vũ Trụ Nước Hoa" height="450" src="~/wwwroot/images/images/nuoc-hoa-my4%20(1).jpg" style="max-width:100%" width="600"/><br/>
        <img alt="Giới thiệu về Vũ Trụ Nước Hoa" height="450" src="~/wwwroot/images/images/nuoc-hoa-my3%20(1).jpg" style="max-width:100%" width="600"/><br/>
        <img alt="Giới thiệu về Vũ Trụ Nước Hoa" height="450" src="~/wwwroot/images/images/nuoc-hoa-my1%20(1).jpg" style="max-width:100%" width="600"/><br/>
        <img alt="Giới thiệu về Vũ Trụ Nước Hoa" height="450" src="~/wwwroot/images/images/nuoc-hoa-my%20(1).jpg" style="max-width:100%" width="600"/>
        <h2>&nbsp;</h2>

        <h2 style="text-align: left">&nbsp;</h2>

        <h2><strong><u><span style="color:#16a085">HỆ THỐNG CÁC CÔNG TY ĐA LĨNH VỰC TRỰC THUỘC ĐẠI PHÁT GROUP</span></u></strong></h2>

        <h2><span style="color:#16a085"><strong>---------------------------------</strong></span></h2>
        Đại Phát&nbsp;cung cấp đủ loại&nbsp;các mặt hàng, đa dạng&nbsp;lĩnh vực khác nhau. Quý khách hàng có thể tham khảo thêm các sản phẩm của Đại Phát tại các cửa hàng trực thuộc hệ thống Đại Phát Group như sau:<br/>
        &nbsp;<img alt="Giới thiệu" height="527" src="~/wwwroot/images/images/cac-cong-ty.jpg" style="max-width:100%" width="600"/>
        <p>&nbsp;</p>

        <p>
            <br/>
            <u><strong><span style="color:#c0392b"><span style="font-size:20px">MỘT SỐ HÌNH ẢNH CÁC CÔNG TY TRỰC THUỘC HỆ THỐNG ĐẠI PHÁT GROUP</span></span></strong></u><br/>
            <br/>
            <span style="color:#c0392b"><span style="font-size:20px"><strong>------ Đại Phát Auto&nbsp;------</strong></span></span><br/>
            &nbsp;
        </p>

        <div style="text-align:center"><img alt="Giới thiệu" height="281" src="~/wwwroot/images/images/nhuong-quyen-thuong-hieu-dai-phat-auto-1.jpg" width="500"/></div>
        &nbsp;

        <div style="text-align:center"><img alt="Thay vá vỏ lốp xe hơi ô tô giá rẻ tốt nhất ở tại tphcm" height="303" src="~/wwwroot/images/images/dai-phat-auto-thay-vo-xe-hoi-o-to-gia-re-hcm.jpg" width="500"/></div>

        &nbsp;
        <div style="text-align:center"><img alt="Nhượng quyền hợp tác cách mở gara tiệm đồ chơi xe hơi hiệu quả" height="231" src="~/wwwroot/images/images/dai-ly-noi-that-xe-o-to.jpg" width="500"/></div>

        &nbsp;
        <div style="text-align:center"><img alt="Nhượng quyền hợp tác cách mở gara tiệm đồ chơi xe hơi hiệu quả" height="231" src="~/wwwroot/images/images/chuyen-cung-cap-do-choi-o-to.jpg" width="500"/></div>

        &nbsp;
        <div style="text-align:center"><img alt="Nhượng quyền hợp tác cách mở gara tiệm đồ chơi xe hơi hiệu quả" height="231" src="~/wwwroot/images/images/dai-ly-do-choi-xe-hoi.jpg" width="500"/></div>

        &nbsp;
        <div style="text-align:center"><img alt="Giới thiệu" height="471" src="~/wwwroot/images/images/dai-phat-auto(2).png" width="500"/></div>

        <p>
            <br/>
            <strong><span style="color:#c0392b"><span style="font-size:18px">------&nbsp;Mỹ Anh Shop ------</span></span></strong><br/>
            &nbsp;
        </p>

        <div style="text-align:center"><img alt="Giới thiệu" height="635" src="~/wwwroot/images/images/my-anh-shop(1).png" width="500"/></div>

        <p>
            <br/>
            <strong><span style="color:#c0392b"><span style="font-size:18px">------ Học Viện Mỹ Anh ------</span></span></strong><br/>
            &nbsp;
        </p>

        <div style="text-align:center"><img alt="Giới thiệu" height="495" src="~/wwwroot/images/images/hoc-nail-gia-re-tphcm.jpg" width="500"/></div>

        <p>&nbsp;</p>

        <div style="text-align:center"><img alt="Giới thiệu" height="375" src="~/wwwroot/images/images/hoc-nail-gia-re.jpg" width="500"/></div>
        &nbsp;

        <div style="text-align:center"><img alt="Giới thiệu" height="333" src="~/wwwroot/images/images/khoa-hoc-noi-mi.jpg" width="500"/></div>

        <p>
            <br/>
            <strong><span style="color:#c0392b"><span style="font-size:18px">------ Đại Phát Furniture&nbsp;------</span></span></strong><br/>
            <br/>
            <img alt="Giới thiệu" height="375" src="~/wwwroot/images/images/hinh-anh-thuc-te-tai-showroom%20(1).jpg" style="max-width:100%" width="500"/><br/>
            <br/>
            <img alt="Giới thiệu" height="375" src="~/wwwroot/images/images/hinh-anh-showroom%20(1).jpg" style="max-width:100%" width="500"/><br/>
            <br/>
            <img alt="Giới thiệu" height="375" src="~/wwwroot/images/images/hinh-anh-tai-showroom%20(1).jpg" style="max-width:100%" width="500"/><br/>
            <br/>
            <img alt="Giới thiệu" height="448" src="~/wwwroot/images/images/dai-phat-furniture(2).jpg" style="max-width:100%" width="500"/>
        </p>

        <p style="text-align: left">
            <br/>
            <strong>------------------------</strong>
        </p>

        <div style="text-align: left">
            <span style="color:#c0392b"><strong>THÔNG TIN LIÊN HỆ</strong></span><br/>
            <br/>
            <strong><span style="color:#2980b9">CÔNG TY TNHH ĐẠI PHÁT VIỄN THÔNG</span></strong><br/>
            Thời gian làm việc: 8H- 18H<br/>
            https://www.facebook.com/daiphatvienthong<br/>
            <a href="http://daiphatvienthong.vn/">https://www.daiphatvienthong.vn</a><br/>
            Hotline:&nbsp;<strong>094.222.1919</strong><br/>
            Đc: 191 bis Lê Thánh Tôn, Q1,TP.HCM (Lầu 2)<br/>
            -------------------------------<br/>
            <br/>
            <span style="color:#2980b9"><strong>CÔNG TY TNHH ĐẠI PHÁT AUTO&nbsp;</strong></span><br/>
            Thời gian làm việc: 8H30 - 18h30<br/>
            https://www.facebook.com/daiphatauto<br/>
            <a href="https://daiphatvienthong.vn/daiphatauto">https://www.daiphatvienthong.vn/daiphatauto</a><br/>
            Hotline:&nbsp;<strong>1900.633.684</strong>&nbsp;(NHẤN PHÍM 1)<br/>
            Đc: 53 Cù Lao, P2, Q.Phú Nhuận,TP.HCM<br/>
            -------------------------------<br/>
            <br/>
            <span style="color:#2980b9"><strong>HỌC VIỆN MỸ ANH</strong></span><br/>
            Thời gian làm việc: 9H30 - 17H30<br/>
            https://www.facebook.com/hocvienmyanh<br/>
            <a href="https://hocvienmyanh.vn/">https://www.hocvienmyanh.vn</a><br/>
            Hotline:&nbsp;<strong>028.7301.0688</strong><br/>
            Đc: 187/3 Trần Văn Đang, P.11, Q.3, TP.HCM<br/>
            -------------------------------<br/>
            <br/>
            <span style="color:#2980b9"><strong>MỸ ANH SHOP</strong></span><br/>
            Thời gian làm việc: 8H30 - 19H<br/>
            https://www.facebook.com/myanhshop<br/>
            <a href="https://chosaigon24h.vn/">https://www.chosaigon24h.vn</a><br/>
            Hotline:&nbsp;<strong>028.7301.0688</strong><br/>
            Đc: 142D/18&nbsp;Cô Giang, P2, Q.Phú Nhuận, TP.HCM<br/>
            Đc:&nbsp;96 Đường N1 Phường Thống Nhất TP Biên Hoà, Đồng Nai -&nbsp;&nbsp;<strong>07.99999.399</strong><br/>
            Đc: 62B, Ung Văn Khiêm, phường Cái Khế, quận Ninh Kiều, Tp. Cần Thơ -&nbsp;<strong>0939.08.7890</strong><br/>
            -------------------------------<br/>
            <br/>
            <span style="color:#2980b9"><strong>ĐẠI PHÁT FURNITURE</strong></span><br/>
            Thời gian làm việc: 8H30 - 18H<br/>
            https://www.facebook.com/noithatdepgiarehcm<br/>
            <a href="https://noithatdepgiare.vn/">https://www.noithatdepgiare.vn</a><br/>
            Hotline:&nbsp;<strong>079.99999.84</strong><br/>
            Đc: 187/3 Trần Văn Đang, P.11, Q.3, TP.HCM (Lầu 4)<br/>
            -------------------------------<br/>
            <br/>
            <span style="color:#2980b9"><strong>MẮT KÍNH MINH NHẬT</strong></span><br/>
            Thời gian làm việc: 8H&nbsp;- 18H<br/>
            https://www.facebook.com/tiemmatkinhminhnhat<br/>
            <a href="https://matkinhminhnhat.vn/">https://www.matkinhminhnhat.vn</a><br/>
            Hotline:&nbsp;<strong>0765.176.417</strong><br/>
            Đc: 191 bis Lê Thánh Tôn, Q1,TP.HCM<br/>
            -------------------------------<br/>
            <br/>
            <span style="color:#2980b9"><strong>ĐẠI PHÁT HOMESTAY</strong></span><br/>
            https://www.facebook.com/chothuehomestayvungtauganbien<br/>
            <a href="https://chosaigon24h.vn/cho-thue-homestay-can-ho-nghi-duong-cao-cap-gan-bien-cho-nhom-cap-doi-gia-re-vung-tau.html">https://www.chosaigon24h.vn</a><br/>
            Hotline:&nbsp;<strong>028.7301.0688</strong><br/>
            Đc: 23D Thùy Vân, TP.Vũng Tàu, BRVT<br/>
            <br/>
            <br/>
            -------------------------------<br/>
            <span style="color:#2980b9"><strong>THÔNG THIÊN MARKETING</strong></span><br/>
            Thời gian làm việc: 8H30 - 18H<br/>
            https://www.facebook.com/chothuehomestayvungtauganbien<br/>
            <a href="http://thongthien.vn/">https://www.thongthien.vn</a><br/>
            Hotline:&nbsp;<strong>0978.39.79.69</strong><br/>
            Đc: 187/3 Trần Văn Đang, P.11, Q.3, TP.HCM (Lầu 4)

            <p color="bg932210" font="Anton" size="size24">
                <br/>
                <span style="color:#000000"><span style="font-size:16px">----------------------------</span></span><br/>
                <span style="font-size:15px"><span style="color:#2980b9"><strong>VŨ TRỤ NƯỚC HOA</strong></span></span>
            </p>
            ☎ Hotline:&nbsp;<strong>028.730.10688 -&nbsp;0901.961.077 (Mua Sỉ)</strong><br/>
            ★ Zalo: <strong>0978.357.900</strong><br/>
            ★ <strong>142D/18 Cô Giang, Phường 2, Phú Nhuận, Tp.HCM</strong> ( Đi hết đường cô giang quẹo phải rồi quẹo trái là hẻm 142D)<br/>
            ★ FB:&nbsp;<a href="https://www.facebook.com/nuochoamychinhhanggiare/">https://www.facebook.com/nuochoamychinhhanggiare/</a><br/>
            ✉ nuochoamy.vn@gmail.com<br/>
            &nbsp;
            <h2><iframe allowfullscreen="" frameborder="0" height="300" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d411.9529106739068!2d106.68464220783196!3d10.797624692520246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9e3cbe355386e545!2sUSA+UK+Shop!5e0!3m2!1sen!2sin!4v1503021581861" width="400"></iframe></h2>
        </div>
    </div>
</div>
