@{
    ViewBag.Title = "Tin tức";
}

<div class="main">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="@Url.Action("Index", "Home")"><span itemprop="name">Trang chủ</span></a> ❯ <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="@Url.Action("Menu", "Home", new { id = "TinTuc" })"><span itemprop="name">Tin tức</span></a><meta itemprop="position" content="2" />
        </li>
    </ol>
    <div class="content">
        <h1 class="head">Tin tức</h1>
        <ul class="groupnews">
            <li>
                <a href="#" title="Jean Paul Gaultier So Scandal For Women - mới nhưng được lòng chị em" class="img">
                    <img src="~/wwwroot/images/images/jean-paul-gaultier-so-scandal-for-women--moi-nhung-duoc-long-chi-em-1624593279-f627ff.jpg" alt="Jean Paul Gaultier So Scandal For Women - mới nhưng được lòng chị em" />
                </a>
                <a href="#" title="Jean Paul Gaultier So Scandal For Women - mới nhưng được lòng chị em">
                    <h3>Jean Paul Gaultier So Scandal For Women - mới nhưng được lòng chị em</h3>
                </a>
                <p class="des">Mới chỉ ra mát cách đây không lâu vào năm 2020, Jean Paul Gaultier cho ra mắt dòng nước hoa So Scandal, thuộc bộ sưu...</p>
                <p class="date">10:54 25-06-2021 | 141 lượt xem</p>
            </li>
            <li>
                <a href="#" title="Nước hoa Armaf Club De Nuit Intense Man - Mùi hương nam tính lịch lãm" class="img">
                    <img src="~/wwwroot/images/images/nuoc-hoa-armaf-club-de-nuit-intense-man--mui-huong-nam-tinh-lich-lam-1624590882-e32772.jpg" alt="Nước hoa Armaf Club De Nuit Intense Man - Mùi hương nam tính lịch lãm" />
                </a>
                <a href="#" title="Nước hoa Armaf Club De Nuit Intense Man - Mùi hương nam tính lịch lãm">
                    <h3>Nước hoa Armaf Club De Nuit Intense Man - Mùi hương nam tính lịch lãm</h3>
                </a>
                <p class="des">Hương đầu của Armaf Club De Nuit Intense Man thực sự là một “trải nghiệm khứu giác” đầy huyền diệu và dễ...</p>
                <p class="date">10:14 25-06-2021 | 147 lượt xem</p>
            </li>
            <li>
                <a href="#" title="Nước hoa Armaf Club De Nuit Woman - Sức quyến rũ khó chối từ" class="img">
                    <img src="~/wwwroot/images/images/nuoc-hoa-armaf-club-de-nuit-woman--suc-quyen-ru-kho-choi-tu-1624589824-e61302.jpg" alt="Nước hoa Armaf Club De Nuit Woman - Sức quyến rũ khó chối từ" />
                </a>
                <a href="#" title="Nước hoa Armaf Club De Nuit Woman - Sức quyến rũ khó chối từ">
                    <h3>Nước hoa Armaf Club De Nuit Woman - Sức quyến rũ khó chối từ</h3>
                </a>
                <p class="des">Nước hoa Armaf Club De Nuit Woman được nhắc đến như một sự tinh tế và sang trọng. Tuy tại Việt Nam chỉ có...</p>
                <p class="date">09:57 25-06-2021 | 145 lượt xem</p>
            </li>
            <li>
                <a href="#" title="Jean Paul Gaultier Ultra Male Intense EDT | Chàng trai nóng bỏng, thu hút gợi..." class="img">
                    <img src="~/wwwroot/images/images/jean-paul-gaultier-ultra-male-intense-edt--chang-trai-nong-bong-thu-hut-goi-cam-1624371183-8dc00c.jpg" alt="Jean Paul Gaultier Ultra Male Intense EDT | Chàng trai nóng bỏng, thu hút gợi..." />
                </a>
                <a href="#" title="Jean Paul Gaultier Ultra Male Intense EDT | Chàng trai nóng bỏng, thu hút gợi...">
                    <h3>Jean Paul Gaultier Ultra Male Intense EDT | Chàng trai nóng bỏng, thu hút gợi...</h3>
                </a>
                <p class="des">Là một chàng trai bí ẩn, nhưng vẫn quyến rũ rất nhiều cô gái! Đó chính là Jean Paul Gaultier Ultra Male Intense!...</p>
                <p class="date">21:38 22-06-2021 | 153 lượt xem</p>
            </li>
            <li>
                <a href="#" title="Nước hoa Jean Paul Gaultier Scandal - Sự pha trộn đầy mới lạ" class="img">
                    <img src="~/wwwroot/images/images/nuoc-hoa-jean-paul-gaultier-scandal--su-pha-tron-day-moi-la-1624336191-96b8c6.jpg" alt="Nước hoa Jean Paul Gaultier Scandal - Sự pha trộn đầy mới lạ" />
                </a>
                <a href="#" title="Nước hoa Jean Paul Gaultier Scandal - Sự pha trộn đầy mới lạ">
                    <h3>Nước hoa Jean Paul Gaultier Scandal - Sự pha trộn đầy mới lạ</h3>
                </a>
                <p class="des">Nước hoa Jean Paul Gaultier Scandal là dòng nước hoa nữ, được hãng nước hoa Jean Paul Gaultier cho ra mắt vào tháng 6...</p>
                <p class="date">11:30 22-06-2021 | 182 lượt xem</p>
            </li>
            <li>
                <a href="#" title="Nước hoa Gucci Bamboo Eau de Parfum - Điểm nhấn khó phai dành cho phái đẹp" class="img">
                    <img src="~/wwwroot/images/images/nuoc-hoa-gucci-bamboo-eau-de-parfum--diem-nhan-kho-phai-danh-cho-phai-dep-1624248132-88b3a8.jpg" alt="Nước hoa Gucci Bamboo Eau de Parfum - Điểm nhấn khó phai dành cho phái đẹp" />
                </a>
                <a href="#" title="Nước hoa Gucci Bamboo Eau de Parfum - Điểm nhấn khó phai dành cho phái đẹp">
                    <h3>Nước hoa Gucci Bamboo Eau de Parfum - Điểm nhấn khó phai dành cho phái đẹp</h3>
                </a>
                <p class="des">Với ý tưởng tôn vinh nét đẹp nữ tính đầy tự tin của mỗi người phụ nữ, nước hoa Gucci Bamboo mang đến...</p>
                <p class="date">10:58 21-06-2021 | 188 lượt xem</p>
            </li>
            <li>
                <a href="#" title="Nước hoa Kilian Black Phantom Memento Mori - Ma mị đầy bí ẩn" class="img">
                    <img src="~/wwwroot/images/images/nuoc-hoa-kilian-black-phantom-memento-mori--ma-mi-day-bi-an-1624246638-350510.jpg" alt="Nước hoa Kilian Black Phantom Memento Mori - Ma mị đầy bí ẩn" />
                </a>
                <a href="#" title="Nước hoa Kilian Black Phantom Memento Mori - Ma mị đầy bí ẩn">
                    <h3>Nước hoa Kilian Black Phantom Memento Mori - Ma mị đầy bí ẩn</h3>
                </a>
                <p class="des">Nước hoa Kilian Black Phantom thuộc dòng nước hoa unisex dành cho cả nam và nữ, được thương hiệu nổi tiếp Kilian...</p>
                <p class="date">10:31 21-06-2021 | 193 lượt xem</p>
            </li>
            <li>
                <a href="#" title="Nước hoa Kilian Good Girl Gone Bad làm cho người khác xao xuyến đến nao lòng" class="img">
                    <img src="~/wwwroot/images/images/nuoc-hoa-kilian-good-girl-gone-bad-lam-cho-nguoi-khac-xao-xuyen-den-nao-long-1624245119-059b7e.jpg" alt="Nước hoa Kilian Good Girl Gone Bad làm cho người khác xao xuyến đến nao lòng" />
                </a>
                <a href="#" title="Nước hoa Kilian Good Girl Gone Bad làm cho người khác xao xuyến đến nao lòng">
                    <h3>Nước hoa Kilian Good Girl Gone Bad làm cho người khác xao xuyến đến nao lòng</h3>
                </a>
                <p class="des">Nước hoa Kilian Good Girl Gone Bad được đánh giá là chai nước hoa nữ đẳng cấp, sang trọng nhưng lại tinh tế...</p>
                <p class="date">10:07 21-06-2021 | 169 lượt xem</p>
            </li>
            <li>
                <a href="#" title="Nước hoa unisex Kilian Rolling in Love - Cực kỳ quyến rũ đầy tinh tế" class="img">
                    <img src="~/wwwroot/images/images/nuoc-hoa-unisex-kilian-rolling-in-love--cuc-ky-quyen-ru-day-tinh-te-1624243303-215755.jpg" alt="Nước hoa unisex Kilian Rolling in Love - Cực kỳ quyến rũ đầy tinh tế" />
                </a>
                <a href="#nuoc-hoa-unisex-kilian-rolling-in-love--cuc-ky-quyen-ru-day-tinh-te.html" title="Nước hoa unisex Kilian Rolling in Love - Cực kỳ quyến rũ đầy tinh tế">
                    <h3>Nước hoa unisex Kilian Rolling in Love - Cực kỳ quyến rũ đầy tinh tế</h3>
                </a>
                <p class="des">Nước hoa Rolling in Love là dòng nước hoa unisex đến từ hãng hiệu Kilian nổi tiếng, ra mắt vào năm...</p>
                <p class="date">09:32 21-06-2021 | 177 lượt xem</p>
            </li>
            <li>
                <a href="#" title="Versace Bright Crystal Absolu | Chai nước hoa nữ không thể thiếu của chị em..." class="img">
                    <img src="~/wwwroot/images/images/versace-bright-crystal-absolu--chai-nuoc-hoa-nu-khong-the-thieu-cua-chi-em-khi-yeu-1624085819-fb0b77.jpg" alt="Versace Bright Crystal Absolu | Chai nước hoa nữ không thể thiếu của chị em..." />
                </a>
                <a href="#" title="Versace Bright Crystal Absolu | Chai nước hoa nữ không thể thiếu của chị em...">
                    <h3>Versace Bright Crystal Absolu | Chai nước hoa nữ không thể thiếu của chị em...</h3>
                </a>
                <p class="des">Là một trong những thương hiệu nước hoa nổi tiếng nhất nhì thế giới trong suốt những năm vừa qua. Bright...</p>
                <p class="date">14:23 19-06-2021 | 179 lượt xem</p>
            </li>
            <li>
                <a href="#" title="Bạn biết gì về nước hoa Kilian Voulez-Vous Coucher Avec Moi đẳng cấp?" class="img">
                    <img src="~/wwwroot/images/images/ban-biet-gi-ve-nuoc-hoa-kilian-voulezvous-coucher-avec-moi-dang-cap-1624077141-9d472a.jpg" alt="Bạn biết gì về nước hoa Kilian Voulez-Vous Coucher Avec Moi đẳng cấp?" />
                </a>
                <a href="#" title="Bạn biết gì về nước hoa Kilian Voulez-Vous Coucher Avec Moi đẳng cấp?">
                    <h3>Bạn biết gì về nước hoa Kilian Voulez-Vous Coucher Avec Moi đẳng cấp?</h3>
                </a>
                <p class="des">Nếu bạn là một quý cô sành điệu, cá tính, bạn ưa thích một hương thơm sang trọng và lả lơi nhưng kiêu kỳ...</p>
                <p class="date">11:28 19-06-2021 | 158 lượt xem</p>
            </li>
            <li>
                <a href="#" title="Nước hoa Maison Francis Kurkdjian Baccarat Rouge 540 - Ánh lên sự sang trọng..." class="img">
                    <img src="~/wwwroot/images/images/nuoc-hoa-maison-francis-kurkdjian-baccarat-rouge-540--anh-len-su-sang-trong-quyen-ru-1624074898-be4f20.jpg" alt="Nước hoa Maison Francis Kurkdjian Baccarat Rouge 540 - Ánh lên sự sang trọng..." />
                </a>
                <a href="#" title="Nước hoa Maison Francis Kurkdjian Baccarat Rouge 540 - Ánh lên sự sang trọng...">
                    <h3>Nước hoa Maison Francis Kurkdjian Baccarat Rouge 540 - Ánh lên sự sang trọng...</h3>
                </a>
                <p class="des">Với nước hoa unisex Baccarat Rouge 540 cho bạn toát lên thần thái của bản thân, thể hiện đẳng cấp cũng như sự...</p>
                <p class="date">10:52 19-06-2021 | 156 lượt xem</p>
            </li>
            <li>
                <a href="#" title="Nước hoa Narciso Rodriguez For Her Eau de Toilette dành cho các cô nàng hướng..." class="img">
                    <img src="~/wwwroot/images/images/nuoc-hoa-narciso-rodriguez-for-her-eau-de-toilette-danh-cho-cac-co-nang-huong-noi-1624072112-091fb6.jpg" alt="Nước hoa Narciso Rodriguez For Her Eau de Toilette dành cho các cô nàng hướng..." />
                </a>
                <a href="nuoc-hoa-narciso-rodriguez-for-her-eau-de-toilette-danh-cho-cac-co-nang-huong-noi.html" title="Nước hoa Narciso Rodriguez For Her Eau de Toilette dành cho các cô nàng hướng...">
                    <h3>Nước hoa Narciso Rodriguez For Her Eau de Toilette dành cho các cô nàng hướng...</h3>
                </a>
                <p class="des">Nước hoa nữ Narciso Rodriguez For Her Eau de Toilette là một mùi hương xạ hương đương đại ấn tượng nhất nhà...</p>
                <p class="date">09:58 19-06-2021 | 154 lượt xem</p>
            </li>
            <li>
                <a href="#" title="Nước hoa nam Tom Ford Ombre Leather EDP dành riêng cho tín đồ hương Da Thuộc" class="img">
                    <img src="~/wwwroot/images/images/nuoc-hoa-nam-tom-ford-ombre-leather-edp-danh-rieng-cho-tin-do-huong-da-thuoc-1624070832-4854f3.jpg" alt="Nước hoa nam Tom Ford Ombre Leather EDP dành riêng cho tín đồ hương Da Thuộc" />
                </a>
                <a href="#" title="Nước hoa nam Tom Ford Ombre Leather EDP dành riêng cho tín đồ hương Da Thuộc">
                    <h3>Nước hoa nam Tom Ford Ombre Leather EDP dành riêng cho tín đồ hương Da Thuộc</h3>
                </a>
                <p class="des">Nước hoa Tom Ford Ombre Nước hoa nam Tom Ford Ombre Leather EDP được hãng hiệu lừng danh Tom Ford cho ra mắt từ 2018...</p>
                <p class="date">09:43 19-06-2021 | 154 lượt xem</p>
            </li>
            <li>
                <a href="#" title="Review Nước hoa unisex Tom Ford Lost Cherry Eau de Parfum ngọt ngào gợi cảm" class="img">
                    <img src="~/wwwroot/images/images/review-nuoc-hoa-unisex-tom-ford-lost-cherry-eau-de-parfum-ngot-ngao-goi-cam-1623988623-058f54.jpg" alt="Review Nước hoa unisex Tom Ford Lost Cherry Eau de Parfum ngọt ngào gợi cảm" />
                </a>
                <a href="#" title="Review Nước hoa unisex Tom Ford Lost Cherry Eau de Parfum ngọt ngào gợi cảm">
                    <h3>Review Nước hoa unisex Tom Ford Lost Cherry Eau de Parfum ngọt ngào gợi cảm</h3>
                </a>
                <p class="des">Nước hoa unisex Tom Ford Lost Cherry là sự thể hiện hoàn hảo của sự ngọt ngào pha lẫn sexy. Chính điều đó đã...</p>
                <p class="date">10:52 18-06-2021 | 152 lượt xem</p>
            </li>
        </ul>
    </div>
</div>
<style type="text/css">
    .groupnews {
        width: 100%;
        margin: 10px 0;
        padding: 10px;
        border-bottom: 0.5px solid #ccc;
        margin-bottom: 10px;
    }

    .groupnews:after {
        content: '';
        display: block;
        clear: both;
    }

    .groupnews li {
        background: none;
        margin: 0;
        padding: 0;
        float: none;
        margin-bottom: 30px;
    }

    .groupnews li:after {
        content: '';
        display: block;
        clear: both;
    }

    .groupnews li a.img {
        width: 25%;
        height: 120px;
        display: block;
        float: left;
        margin-right: 20px;
        overflow: hidden;
    }

    .groupnews li a.img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>
