<div class="footer ">
    <div class="main">
        <div class="info">
            <h2 color="bgf4d03f" font="Anton" size="size24"><span style="color:#000000;">NUOCHOAMY.VN (VŨ TRỤ NƯỚC HOA)</span></h2>
            <span style="color:#000000;">☎ Hotline:&nbsp;<strong>0399851888</strong></span><br />
            <span style="color:#000000;">★ Zalo: <strong>0399851888</strong></span><br />
            <span style="color:#000000;">★&nbsp;Địa chỉ:&nbsp;<strong>142D/18 Cô Giang, Phường 2, Phú Nhuận, Tp.HCM</strong> ( Đi hết đường cô giang quẹo phải rồi quẹo trái là hẻm 142D)</span><br />
            <span style="color:#000000;">
                ★ <strong>Chi Nhánh&nbsp;1</strong>: <strong>297 Trần Hưng Đạo, P.Cô Giang, quận 1,&nbsp;Tp.HCM ( Bạch Long Mobile)</strong><br />
                ★ <strong>Chi Nhánh 2</strong>: <strong>144 Trần Quang Khải,&nbsp;P.Tân Định, quận 1,&nbsp;Tp.HCM ( VIENDONG Mobile)</strong>
            </span><br />
            <span style="color:#000000;">★ <strong>Chi Nhánh 3</strong>: <strong>307 đường 3/2,&nbsp;P.10, quận 10,&nbsp;Tp.HCM ( VIENDONG Mobile)</strong></span><br />
            <span style="color:#000000;">★ Thời gian mở cửa: 8:30 A.M - 19:00 P.M T2 - T7 (CN, Lễ nghỉ)</span><br />
            <span style="color:#000000;">✉ Email: nuochoamy.vn@gmail.com</span><br />
            <br />
            <a href="http://online.gov.vn"><img height="76" src="~/wwwroot/images/icons/logoSaleNoti.png" width="200" /></a><br />
            <br />
        </div>
        <div class="hotro">
            <ul>
                <li><a href="#"><span style="color:#000000;">Hướng dẫn mua hàng</span></a></li>
                <li><a href="#"><span style="color:#000000;">Hướng dẫn thanh toán</span></a></li>
                <li><a href="#"><span style="color:#000000;">Chính sách giao hàng</span></a></li>
                <li><a href="#"><span style="color:#000000;">Chính sách đổi trả hàng</span></a></li>
                <li><a href="#"><span style="color:#000000;">Chính sách bảo hành</span></a></li>
                <li><a href="#"><span style="color:#000000;">Chính sách bảo mật thông tin</span></a></li>
            </ul>
        </div>
        <div class="vecty">
            <ul>
                <li><a href="#"><span style="color:#000000;">Giới thiệu</span></a></li>
                <li><a href="#"><span style="color:#000000;">Liên hệ</span></a></li>
            </ul>
        </div>
    </div>
</div>
